
h1    {color: #800000 ; font-family: Georgia, serif; }
h2    {color: #00FF00; font-family: Georgia, serif; }
h3    {color: #FF4500; font-family: Georgia, serif; }

body { background-color:lightgrey; }

